/* Contacts Page Specific Styles */

/* Contacts-specific elements */
#searchText, #colorText {
    font-size: 40px;
}

/* Logout button specific styling */
#logoutButton {
    width: 20%;
    margin-left: 40%;
}

/* Select dropdown styling */
select {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

/* Color search result styling */
#colorSearchResult {
    display: none;
}

/* Color add result styling */
#colorAddResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/* Access UI div styling */
#accessUIDiv {
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

/* Go to register button styling */
#GoToRegisterButton {
    width: 25.5%;
    display: inline-block;
}
