body 
{
    background-color: blue;
    background-image: linear-gradient(to bottom, #000F6D, #060335);
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#loginDiv
{
    margin-top: 150px;
    font-size: 30px;
    width: 70%;
    margin-inline: auto;
    padding: 25px;
    background-color: #38333329;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF10;
    border-radius: 25px;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 40px;
    border-radius: 50px;
    width: 70%;
    height: 7.25%;
    margin-left: 13.5%;
    color: #FFFFFF;
    background-color: #242345;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#GoToRegisterButton
{
    width: 25.5%;
    display: inline-block;
}

#loginDiv, #loginName, #loginPassword, #firstName,
#lastName, #registerName, #registerPassword, #searchText, 
#colorText {
    font-size: 40px;
}

input[type="text"],input[type="password"]{
    border-radius: 50px;
    text-align: left;
    text-indent: 15px;
    width: 70%;
    height: 7.25%;
    margin-left: 13.5%;
    margin-bottom: 2%;
    color: #B79A9A;
    background-color: #242345;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 64px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 0.75%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#inner-text{
    display: inline-block;
    font-size: 24px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 4%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#msgtoregister{
    display: inline-block;
    font-size: 32px;
    width: 30%;
    text-align: left;
    margin-top: 3%;
    margin-left: 13.5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#loginResult{
    display: inline-block;
    font-size: 24px;
    width: 90%;
    height: 2%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#registerResult{
    display: inline-block;
    font-size: 24px;
    width: 90%;
    height: 2%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}



